

progress {
    border-radius: 7px; 
    width: 100%;
    height: 0.5vh;
  }
  progress::-webkit-progress-bar {
    background-color: #CCCCCC;
    border-radius: 7px;
  }
  progress::-webkit-progress-value {
    background-color: #FF0065;
    border-radius: 7px;
  }
  progress::-moz-progress-bar {
    /* style rules */
  }