<section class="sign-up-screen">
   <div class="sign-up-sides"> 
        <div class="left-screen side-sign-up-screen" id="left-scr">
          <h2>KAMI KAROW</h2>
          <div class="vision-message">
          <p>Une communauté créée</p>
          <p>par et pour des consommatrices</p>
          <p>qui veulent des routines capillaires éclairées</p>
        </div>
     </div>

        <div class="right-screen side-sign-up-screen" id="right-scr">
          <div class="items-right-screen top-screen flex">
               <div class="progress-bar">pb</div> 
               <div class="progress-bar">Action</div> 
          </div>
          <div class="items-right-screen main-screen">
               <h3>CTA</h3>
               <p>Message</p>
               <form #userName="ngForm" (ngSubmit)="onClickSubmit(this)"> 
                    <input type="text" name="identifiant" placeholder="email" ngModel> 
                    
                    <br/>
                    <input type="submit" value="submit"> 
                    
                    <br/>
                    <input type="password"  placeholder="Mot de passe" ngModel> 


                 </form>

          </div>
          <div class="items-right-screen bottom-screen">C</div>
     </div>
    </div>
   <div class="switch-page">
     <button (click)="changeVisibilityScreen()" id="right-btn"></button>   
     <button (click)="changeVisibilityScreen()" id="left-btn"></button>

   </div> 
</section>
