
  <div class="screen-navBar">
    <div class="hamburger item-top-nav">
      <a href="javascript:void(0);" class="icon" (click)="displayNavbar()">
        <img src="{{menuIcon}}"/>
      </a>
    </div>
    <div class="logo item-screen-top-nav">
      <a href="#home" class="active">
        <h1>KAMI KAROW</h1>
      </a>
    </div>
  </div>

  <div id="myLinks">
    <div class="container-myLinks">
      <div class="service-myLinks item-container-myLinks">
        <a href="#news">MES BILANS CAPILLAIRES</a>
        <a href="#news">BOUTIQUE</a>
        <a href="#about">BLOG</a>
      </div>
      <div class="enrollement-myLinks item-container-myLinks">
        <a href="#contact">SE CONNECTER</a>
        <a href="#contact">CONTACT</a>
      </div>
  </div>
  </div>

