::ng-deep * { margin: 0; padding: 0;  }

.screen-navBar{
    border-radius: 10px 10px 0px 0px;
    box-sizing: content-box;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(100deg, #000000, #4D4C4C);
    display: flex;
    height: 100ù;
    position: relative;
}




// Commons set up item
a{
    text-decoration: none;
}

.item-top-nav{
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    margin: 20px 10px 0px 0px;
}

a, h1{
    letter-spacing: 0.2em;
}


// HAMBURGER
.hamburger{
    height: auto;
    width: 10vh;
}

.hamburger img{
    width:40%;
}


// LOGO
.logo{
    font-size: 2.2vh;
  
}
.logo h1{
    color: white;
    padding: 20px;
}

// MENU LINKS
#myLinks {
    background: linear-gradient(75deg, #FF0065, #4D4C4C);
    border-radius: 0px 0px 0px 10px;
    display: none;
    height:  91vh;
    opacity: 0.9;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 50%;
  }

  #myLinks .container-myLinks{
      display: grid;
      height: 95%;
      grid-template-columns: 1fr;
      grid-template-rows: 9fr 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "service"
        "enrollement";
  }

  .service-myLinks{
    grid-area: "service";
  }

  .enrollement-myLinks{
    grid-area: "enrollement";
    border-top: 1px solid white;

}
  #myLinks .container-myLinks div a {
    color: white;
    display: block;
    font-size: 1.5em;

    padding: 2vh 1vh;
  }

  @media only screen and (max-width: 1000px) {
    
    #myLinks {
        margin: 0;
        padding: 0;
        border-radius: 0px 0px 10px 10px;
        width: 100%;
        height:  100ù;

      }


  }
